**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/docker-compose*
**/compose*
!scripts/compose.sh
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
README.md
docs/
tests/
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc.json
babel.config.json
jest.config.json
src/
src.old/
.github/
tsconfig.json
tsconfig.build.json
env/
!env/.example.env